.map{
    overflow:hidden;
    
    height:0;
}

.map {
    left:0;
    top:0;
    height:100%;
    width:100%;
   
}

@media (max-width: 768px){
  .log-btn{
    font-size: 12px;
  }
  
}